.nav-link{
    /*border: 1px solid black !important;*/
    border-radius: 25px !important;
    padding: 10px;
}
.nav-link:hover{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 25px black;
}
